@import '@/assets/style.scss';

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1250px) {
    @content;
  }
}

$white-color: #dcd5e3;
$purple-dark: #5053cc;
$purple-primary: #9598fc;
